* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  background-color: #def0fd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#container {
  height: 600px;
  width: 600px;
  border: 4px solid black;
  background-color: #fffbf0;
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  border: 1px solid black;
}

.btn {
  color: #4272ef;
  background-color: #fff;
  border: 1px solid #4272ef;
  margin-top: 1em;
  padding: 10px 15px;
}

.btn:hover {
  filter: brightness(85%);
}
