* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  background-color: #def0fd;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin: 0.75em 0;
  font-size: 2.81rem;
  margin-left: 2.5em;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  height: 600px;
  width: 600px;
  border: 4px solid black;
  background-color: #fffbf0;
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  border: 1px solid black;
}

.settings {
  background-color: #fff;
  margin: 0 1.6em 0 0;
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  border: 2px solid #4272ef;
}

.heading-settings {
  color: #4272ef;
}

.btn {
  color: #4272ef;
  background-color: #fff;
  border: 1px solid #4272ef;
  margin-top: 1em;
  padding: 10px 15px;
}

.btn:hover {
  filter: brightness(85%);
}
